.esquerdoBdrQuadro {  background-color: #f4f4f4; border: 1px #9BB9C8 solid}
.principalLstCab {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #7EA5B8; font-weight: bold}
.principalLstPar {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLabelValorVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none }
.principalBdr4Lados { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7 }
.geralCursoHand {  cursor: pointer; text-decoration: none}
body {scrollbar-face-color:#f4f4f4;
scrollbar-highlight-color:#f4f4f4;
scrollbar-3dlight-color:#5C81AA;
scrollbar-darkshadow-color:#f4f4f4;
scrollbar-shadow-color:#5C81AA;
scrollbar-arrow-color:#5C81AA;
scrollbar-track-color:#f4f4f4}




.principalCabTipo { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #FFFF00; text-decoration: none; background-color: #598AA2; font-weight: bold ; border: #000099; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
