.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #800080;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.menuvertBackColor{
	background-color: #C891C8;
	border: #FFA477 solid;
	border-width: 0px 1px 1px;
	cursor: default
}
.objetoBotaoMouseDown{
	background-color: #800080;
	border: 1px solid;
	border-color: #DBB6DB #000000 #000000 #DBB6DB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #800080;
	border: 2px solid;
	border-color: #C891C8 #000000 #000000 #C891C8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #800080;
	border: 1px solid;
	border-color: #DBB6DB #000000 #000000 #DBB6DB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #B972B9;
	border: 1px solid;
	border-color: #DBB6DB #000000 #000000 #DBB6DB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #DCB8DC;
	cursor: default
}
.objetoItemBorda{
	background-color: #A85151;
	border: 1px #800000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.objetoItemMouseOver{
	background-color: #E6CCE6;
	border: 0px #55859B solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #000000
}
.objetoItemNormal{
	background-color: #C891C8;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #C891C8;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #EFDEDE
}
.objetoMenu{
	background-color: #F4F4F4;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE
}
.objetoOpcaoVisualizar{
	background-color: #800080;
	border: 1px solid;
	border-color: #EEDEEE #000000 #000000 #EEDEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF
}
body{
	scrollbar-3dlight-color:#800080;
	scrollbar-arrow-color:#000000;
	scrollbar-darkshadow-color:#800080;
	scrollbar-face-color:#C891C8;
	scrollbar-highlight-color:#C891C8;
	scrollbar-shadow-color:#C891C8;
	scrollbar-track-color:#C891C8
}
