.QUEBRA_PAGINA { page-break-before: always }
.principalQuadroPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 32px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f4f4f4}
.principalPstQuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 19px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadro.gif); height: 32px; width: 166px; text-align: center}
.principalBgrQuadro { border: #7088c5 solid; background-color: #f4f4f4; border-width: 0px 0px 0px 1px}
.principalLabel {  font-family: Arial, Helvetica, sans-serif; font-size: 19px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000}
.principalLabelValorFixo { font-family: Arial, Helvetica, sans-serif; font-size: 19px; text-decoration: none ; font-weight: bold}
