		
		#bodyChat{
			width: 735px;
		}
		
		#chatGeral{
			width: 735px;
			height: 320px;
		}
		
		#chatlog {

			margin-top: 0px;
			margin-left: 0px;
			background-color: #FFFFFF;
			padding: 2px;
			border-top: 1px solid #87CEFA;
			border-right: 1px solid #87CEFA;
			border-bottom: 1px solid #87CEFA;
			border-left: 1px solid #87CEFA;
			
			height: 150px;
			width: 513px;
			overflow: auto;
			float: left;
		}
		
		#mensagem {
			padding-top: 8px;
			margin: 0px;
			width: 523px;
			clear:left;
			float:left;
		}
		
		#chatGeral {
			background-color: #F0F7FA;
			padding:5px;			
		}
		
		#chatGeral h5 {
			height: 23px;
			font-size:11pt;
			border:0px;
			margin:0px;
			padding: 0px;
		}
		
		#chatGeral #text {
			float:left;
			width: 460px;
			height: 50px;
		}
		
		#usariosConectados{
			margin-right: 10px;
			background-color: #e3f3ff;
			border-width: 1px;
			border-color: #000000;
			border-style: solid;
			width:170px;
			height: 150px;
			float:right;
			border-left: 1px solid #87CEFA;
			border-top: 1px solid #87CEFA;
			border-bottom: 1px solid #87CEFA;
			border-right: 1px solid #87CEFA;
		}

		#usariosConectados ul{
			margin: 0px;
		}

		#usariosConectados ul li{
			list-style-type: none;
		}

		#usariosConectados label{
			width: 166px; 
			text-align:left; 
		}


		#chatGeral ul {
			padding:10px;
			margin:0px;
			display: inline;
		}
		
		#chatGeral li { 
			padding:0px;
			margin:0px;
			text-align: center;
			height: 16px;
			width:150px;
			list-style-type: none;
			font-size: 15px;
			}
		
		#cabecalho{
			margin-top: 15px;	
		}
		
		#chatGeral h2{
			color: Black;
			font: normal 26px/1 "Lucida Sans";
			letter-spacing: 1px;
			text-align: left;
			text-indent: 11px;
		}
		
		#logo{
			float: left;
		}
		
		#send{
			border: 0px;
			width: 55px;
			float:left;
			margin-top: 6px;
			margin-left: 3px;
			color: Red;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
		}
		
		#sair{
			border: 0px;
			width: 55px;
			margin-top: 6px;
			margin-left: 3px;
			color: Red;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
		}

		#xmlValid{
			text-align: center;
			width: 170px;
			margin-left: 26px;
			float: left;
		}
		