.principalLabel {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
