body {
	background-image: url('../../../webFiles/resources/images/pt/tela_cadastro.jpg');
	margin-left:10px;
	margin-top:80px;
}

#imgSetaAzul {
	width: 7px;
	height: 7px;
}

#geral {
	height:340px;
	width:450px;	
}

#campos {

	width:450px;
	height:110px;
	
	/* box */
	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/
	
}
	
#botoes {	

	width:360px;
	height:30px;
	
	/* box */
	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/

	/*margens*/
	margin-left:0px;
	
}

#erros {
	
	height: auto;
	display: block;
		
	/* box */
	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/
	
	/*posicao*/
	margin-left:160px;
	margin-top:0px;
	margin-bottom:5px;
	
	padding:0px;
	border:0px;
	
	/*fontes*/
	font-size: 11px; 
	color: #FF0000;
		
}

label,input, textarea {
	width: 150px;
	float: left;
}

textarea {
	height: 50px;
}

label {
	text-align: right;
	width: 200px;
}

#botoes ul {
	float:right;
	padding:0px;
	margin-top:0px;
	margin-left:0px;
   	list-style:none;
}

#botoes ul li  {
	padding:0px;
	margin-top:0px;
	margin-left:0px;
   	display: inline;
}

#erros ul {
	margin-top:0px;
	margin-bottom:0px;
}

.botoesMenu {
   	width: auto;
}

#geral, campos , botoes, erros {

	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/
	
}