body {
	
	border:0px;
	margin:0px;	
	padding:0px;
	
	width:100%;
	height:100%;
	
}

#geral {
	
	margin:0px;
	border:0px;
	padding:0px;
	
	width:100%;
	height:100%;
}

#superior {
	
	margin:3px;
	
	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/
	
	width:99%;
	height:40px;
}

hr{
	color: #0000ff;
}

#conteudo {

	margin:1px;	
	margin-left:5px;
	
	/*border-width: 1px;
	border-color: #000000;
	border-style: solid;*/
	
	float: left;
	
	width:78%;
	height:660px;
}