.estiloNomeOperador{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: black; 
	text-decoration: none ; 
	font-weight: bold;
}
#Chamado: 90471 - 16/09/2013 - Carlos Nunes
.estiloDataOperador{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	color: black;
}

.estiloHoraOperador{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	color: black;
}

.estiloMsgOperador{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none ; 
	font-weight: bold;
}

.estiloNomeCliente{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #0000FF; 
	text-decoration: none ; 
	font-weight: bold;
}
#Chamado: 90471 - 16/09/2013 - Carlos Nunes
.estiloDataCliente{
	font-family: Arial, 
	Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	color: #0000FF;
}

.estiloHoraCliente{
	font-family: Arial, 
	Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px; 
	color: #0000FF;
}

.estiloMsgCliente{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none ; 
	font-weight: bold;
}