#menu {

	margin:1px;	
	float: left;
	
	width: 20%;
	height: 660px;	
	
	background-color: #e3e3ff;
	
	border-right: 2px solid #4040a0;
	border-bottom: 2px solid #4040a0;
	border-top: 1px solid #a0a0f0;
	border-left: 6px solid #a0a0f0;
	
	font-family: Arial, sans-serif;
	font-size:12pt;
}

#menu ul{
	list-style: none;
	margin-top:0px;
	padding: 1px;
}

#menu li{
	padding: 1px;
	border-bottom: 1px solid #f4d2ee;
}

#menu ul li a:hover{
	background-color: #efefff;
}

#menu a{
	display: block;
	color: black;
	text-decoration: none;
}
