.ficha {
	min-width: 979px;
	width:expression(document.body.clientWidth < 979? "979px": "100%" );
}

td { line-height: 18px; }

.cabecalho 		 { float: left; margin-top: 5px; width: 280px; }
.dadosnegociacao { min-height: 50px;  }
.hl1	{ width: 60px; max-width: 60px; min-width: 60px; }
.hv1	{ width: 200px;  }



.confirmarnegociacao { margin: 10px; }

.gerarmanifestacao { margin: 10px; margin-left: 20px; }
.gerarmanifestacao select { width: 350px; }
.gerarmanifestacao textarea { width: 350px; height: 140px; overflow: visible; }
.gerarmanifestacao input { width: 80px;  }

td a 		{ text-decoration: underline; display: inline; }

td.checktd		{ width: 25px; text-align: center; }
td.image		{ width: 70px; text-align: center; }
td.sph			{ width: 18px; }
td.small		{ width: 35px; }
td.number		{ width: 50px; text-align: center; }
td.date			{ width: 70px; text-align: center; }
td.valor		{ text-align: right; }
td.fixed		{ width: 200px; }
td.smalltext    { width: 70px; text-align: center; }
td.mediumtext   { width: 120px; }
td.total		{ width: 115px;  }
td.desconto     { text-align: right; }



td.cabecfix		{ background-color: #7ea5b8; color: #ffffff; font-weight: bold; } 
.list table tbody tr.nenhumregistro td { line-height: 80px; }
.list table tbody tr.bloqueado td { color: #808080; }

img.botdetparc  { width: 16px; cursor: pointer; }
.botaocabecalho img { margin-left: 3px; margin-top: 3px;  }

.scrollparcelas { height: 120px; }
.totais { height: 20px; }
.scrollparcelamento { height: 140px; }
.scrollparcnegociacao { height: 140px; }

.tdseparator 	{ display: block; height: 10px; }  
.mailframe 		{ height: 300px; overflow: auto; width: 820px; }
.listaanexos    { line-height: 20px; }

.detalhe		{ clear: both; }
.detalhe table  { width: 98%; }
.detalhelabel   { width: 60px; }
.detalhelabel2  { width: 100px; text-align: right; }
.detalheval     { width: 110px; }

.frame { margin: 10px 5px 0px; } 

.filtroparcelas	{ border-radius: 0px; min-height: 50px; height: 40px; margin-bottom: 5px;}
.tbldb			{ width: 200px; }

.parcelas			{ border-radius: 0px; padding: 0px; margin-top: 0px; width: auto; height: 167px; }
.parcelamento 		{ border-radius: 0px; padding: 0px; margin-top: 0px; width: auto; height: 161px; }
.listparcnegociacao { float: left; width: 210px; }

.parcelas table,.parcelamento table,.listparcnegociacao table { width: 100% }

.resumonegociacao { float: left; width: 200px; margin-left: 10px; line-height: 18px; }
.resumonegociacao p { margin: 0px; } 
.resumonegociacao .resumotext { width: 340px; height: 140px; margin-left: 0px; padding: 0px; }

.confirmarnegociacao .opcoes { clear: both; line-height: 25px; vertical-align: baseline; }
.confirmarnegociacao .opcoes input[type=checkbox]  { position: relative; top: 3px; padding: 1px; }
.confirmarnegociacao .opcoes .opcoesboleto { display: none; }
.confirmarnegociacao .opcoes .acaocob { width: 250px; }
.confirmarnegociacao .opcoes .bancoboleto { width: 250px; }



.content  { height: 100%; } 
 
a.entradaparcelamento { display: inline; cursor: text; }
a.entradaparcelamento:hover {
	background-image: url(data:image/gif;base64,R0lGODlhBwAHAMQAAKjM8oWn5KjM8OLs/KbK8Ye28aXH8XKm6Im36m+l7uju/Nzo953A65/B7XWs6a7I7KrD7LLQ+OHs+YKy75O87bzV8oW17+bp8KjK8uXt/v38/eHr/aXJ8P///wAAAAAAACH5BAEAAB0ALAAAAAAHAAcAAAUgYBc5Smd2HFIMpyFV1GVij9YkJgEx1mYCgcniJDhkTiEAOw==); 
	background-repeat: no-repeat; 
	background-position: left;
	padding-left: 12px; 
}

a.isentataxa { display: inline; }
a.isentataxa:hover    {
	background: url(/plusoft-resources/images/toolbar/cancel.gif);
	background-repeat: no-repeat;
	background-position: left -2px;
	padding-left: 18px; 
} 


a.descontoparcelas { display: inline; }

a.descontoparcelamento { display: inline; }
a.descontoparcelamento:hover {
	background: url(/plusoft-resources/images/lite/icones/link-icon.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 14px; 
}
a.descontoespecial:hover {
	color: red;
	background: url(/plusoft-resources/images/lite/icones/secure-icon.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 11px; 
}

.negociardesconto {
	padding: 10px;
}
.negociardesconto .desconto { font-weight: bold; }
.negociardesconto .list { width: 380px; margin-top: 5px; margin-bottom: 5px;  }
.negociardesconto .list table { width: 99%; }
 
input.entradaparcelamento { text-align: right; width: 80%; }

div.tooltipentrada { 
	position: absolute; width: 150px; background-color: #fffeee; border: 1px solid #303030; text-align: left; padding: 5px; padding-left: 10px; opacity: 0.9; filter: alpha(opacity=90); line-height: 18px;
	box-shadow: 2px 2px 5px #808080; -webkit-box-shadow: 2px 2px 5px #808080; -moz-box-shadow: 0px 2px 5px #808080;
}


.autentica { 
	margin: 15px;
	background-image: url(/plusoft-resources/images/lite/icones/login-ico.png); 
	background-repeat: no-repeat;
	padding-left: 64px;
}
.autentica table { 
	margin-left: 30px;
	margin-top: 15px;
}
.autentica .erro {
	text-align: center;
}


.textobs { 
	width: 390px; height: 160px; overflow: visible; 
}

@media print {
 	.expander { visibility: hidden; }
 	.toggle   { display: none; }
 	.toolbar { display: none; }
 	
 	.scrollparcelas { overflow: auto; height: auto; } 
 	.parcelas { height: auto; }
 	.scrollparcelamento { overflow: auto; height: auto; }
 	.parcelamento { position: relative; top: 30px; height: auto; }
 	 
	.floatbutton { display: none; }
 	
}

.filtrodesconto	{ width:410px; border-radius: 0px; min-height: 50px; }
.scrollDescontos { height: 170px; }
.dadosdesconto { height: 65px; min-height: 50px; margin-left: 5px; }
.negociardesconto div.valores table td { height: 35px;}
.negociardesconto div.valores table { width: 390px;}
.negociardesconto div.valores table td.field { width: 50px;}
.negociardesconto div.valores table td.botao { width: 30px;}
.div valores { width: 300px;}
.div lista { width: 99%;}
