<window id="${arg.id}">
	<chart id="mychart" width="400" height="200" type="pie" threeD="true" fgAlpha="128">
		<zscript>
		  	mychart.setModel(new SimplePieModel());
		</zscript>
	</chart>
</window>	