<!-- my color selector-->
<window id="${arg.id}" visible="false" border="normal" width="125px" height="116x">
<vbox spacing="0px">
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#000000;color:#000000" forward="onClick=//p1/w1.onColorPicker(#000000)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#333333;color:#333333" forward="onClick=//p1/w1.onColorPicker(#333333)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#808080;color:#808080" forward="onClick=//p1/w1.onColorPicker(#808080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#969696;color:#969696" forward="onClick=//p1/w1.onColorPicker(#969696)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#c0c0c0;color:#c0c0c0" forward="onClick=//p1/w1.onColorPicker(#c0c0c0)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ffffff;color:#ffffff" forward="onClick=//p1/w1.onColorPicker(#ffffff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#993366;color:#993366" forward="onClick=//p1/w1.onColorPicker(#993366)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#003300;color:#003300" forward="onClick=//p1/w1.onColorPicker(#003300)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#333300;color:#333300" forward="onClick=//p1/w1.onColorPicker(#333300)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#800080;color:#800080" forward="onClick=//p1/w1.onColorPicker(#800080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#800080;color:#800080" forward="onClick=//p1/w1.onColorPicker(#800080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#993366;color:#993366" forward="onClick=//p1/w1.onColorPicker(#993366)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#660066;color:#660066" forward="onClick=//p1/w1.onColorPicker(#660066)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#003366;color:#003366" forward="onClick=//p1/w1.onColorPicker(#003366)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#008000;color:#008000" forward="onClick=//p1/w1.onColorPicker(#008000)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#008080;color:#008080" forward="onClick=//p1/w1.onColorPicker(#008080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#993300;color:#993300" forward="onClick=//p1/w1.onColorPicker(#993300)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#800000;color:#800000" forward="onClick=//p1/w1.onColorPicker(#800000)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#333399;color:#333399" forward="onClick=//p1/w1.onColorPicker(#333399)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ccccff;color:#ccccff" forward="onClick=//p1/w1.onColorPicker(#ccccff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#00ffff;color:#00ffff" forward="onClick=//p1/w1.onColorPicker(#00ffff)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#0000ff;color:#0000ff" forward="onClick=//p1/w1.onColorPicker(#0000ff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#008080;color:#008080" forward="onClick=//p1/w1.onColorPicker(#008080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#9999ff;color:#9999ff" forward="onClick=//p1/w1.onColorPicker(#9999ff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#cc99ff;color:#cc99ff" forward="onClick=//p1/w1.onColorPicker(#cc99ff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#000080;color:#000080" forward="onClick=//p1/w1.onColorPicker(#000080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#6666cc;color:#6666cc" forward="onClick=//p1/w1.onColorPicker(#6666cc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#ccffff;color:#ccffff" forward="onClick=//p1/w1.onColorPicker(#ccffff)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#0066cc;color:#0066cc" forward="onClick=//p1/w1.onColorPicker(#0066cc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#339966;color:#339966" forward="onClick=//p1/w1.onColorPicker(#339966)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#00ff00;color:#00ff00" forward="onClick=//p1/w1.onColorPicker(#00ff00)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ff0000;color:#ff0000" forward="onClick=//p1/w1.onColorPicker(#ff0000)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#33cccc;color:#33cccc" forward="onClick=//p1/w1.onColorPicker(#33cccc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#00ccff;color:#00ccff" forward="onClick=//p1/w1.onColorPicker(#00ccff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#99ccff;color:#99ccff" forward="onClick=//p1/w1.onColorPicker(#99ccff)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#3366ff;color:#3366ff" forward="onClick=//p1/w1.onColorPicker(#3366ff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#99cc00;color:#99cc00" forward="onClick=//p1/w1.onColorPicker(#99cc00)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ff9900;color:#ff9900" forward="onClick=//p1/w1.onColorPicker(#ff9900)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ff6600;color:#ff6600" forward="onClick=//p1/w1.onColorPicker(#ff6600)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ff99cc;color:#ff99cc" forward="onClick=//p1/w1.onColorPicker(#ff99cc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ff8080;color:#ff8080" forward="onClick=//p1/w1.onColorPicker(#ff8080)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#ff00ff;color:#ff00ff" forward="onClick=//p1/w1.onColorPicker(#ff00ff)"/>
</hbox>
<hbox spacing="0px">
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ccffff;color:#ccffff" forward="onClick=//p1/w1.onColorPicker(#ccffff)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ccffcc;color:#ccffcc" forward="onClick=//p1/w1.onColorPicker(#ccffcc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ffff00;color:#ffff00" forward="onClick=//p1/w1.onColorPicker(#ffff00)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ffff99;color:#ffff99" forward="onClick=//p1/w1.onColorPicker(#ffff99)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ffffcc;color:#ffffcc" forward="onClick=//p1/w1.onColorPicker(#ffffcc)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;border-right-width:0px;background-color:#ffcc99;color:#ffcc99" forward="onClick=//p1/w1.onColorPicker(#ffcc99)"/>
<toolbarbutton label="&#160;&#160;&#160;&#160;"  style="width:21px;height:21px;font-size:11px;border:1px solid black;background-color:#ffcc00;color:#ffcc00" forward="onClick=//p1/w1.onColorPicker(#ffcc00)"/>
</hbox>
</vbox>
</window>