<div class="msgerro">
	<div class="iconerro"><img src="/plusoft-resources/images/lite/icones/erro.gif" />&nbsp;</div>

	<div class="titleerro">Mensagem do Sistema</div>
	<div class="detalheerro">
		<textarea id="msgerro" wrap='off' readonly></textarea>
	</div>
	<div class="stacktrace" style="display: none;">
		<textarea id="stacktrace" wrap='off' readonly></textarea>
	</div>
	
	<a href="#" class="loadstack" style="display: none; ">Ver detalhe</a>
</div>
