.dias { width: 60px; }
.sequencia { width: 60px; }

.margin { margin: 3px; }
.topmargin { margin: 3px; }
.listestrategias .list { width: 770px; }
.listestrategias .scrolllist { height: 360px; } 
.listestrategias .scrolllist table { width: 770px; }

.lblDetExecucao {height: 250px;}

.content { height: 435px; }
.content table { line-height: 22px; }
.contenttab { height: 250px; }
.contenttabperiodicidade { height: 246px; width: 500px;}
.contenttabperiodicidade table { line-height: 25px;}

.list { clear: both; border: 1px solid #e8e8e8; width: 750px; height: auto;}
.borda {border: 1px solid #7ea4c2;}
.scrolltablecriterios {height: 180px;}
.scrolltableacoescob  {height: 120px;}

.heacframe .list { clear: both; border: 1px solid #e8e8e8; width: 780px; height: auto;}
.hecrframe .list { clear: both; border: 1px solid #e8e8e8; width: 780px; height: auto;}

.heaclist {height: 150px; width: 780px;}
.hecrlist {height: 150px; width: 780px;}
.histlist {height: 220px;}

.heacframe { width: 800px; height: auto;}
.hecrframe { width: 800px; height: auto;}

.heacframe table { width: 780px; }
.hecrframe table { width: 780px; }

.detalhe { margin: 40px; margin-bottom: 0px; }
.geral .innertab { height: 450px; }
.detalhe .innertab { height: 200px; }

div.formtab { margin-top: 6px; margin-left: 30px; }
div.formtab table tr				{ height: 25px; }
div.formtab table td.formlabel    { text-align: right; }
div.formtab table td.formlabelCenter    { width: 10%; text-align: center; }
div.formtab table td.formlabel label { margin-right: 0px; cursor: default; }
div.formtab input.codigo			{ width: 80px; }
div.formtab input.numeric			{ width: 80px; }

div.formrow table thead tr 			{ height: 18px;  }
div.formrow table tr 				{ height: 25px; }

form input.text { padding: 3px; border-radius: 5px;  }
form select  { height: 23px; padding: 3px; border-radius: 5px; cursor: pointer; width: 180px;  }

.clickable{ cursor: pointer; }

.list td.fix20Center 	{ width: 20px; text-align: center; }
.list td.fix20 			{ width: 20px; text-align: left;}
.list td.fix40Center 	{ width: 40px; text-align: center; }
.list td.fix40 			{ width: 40px; text-align: left;}
.list td.fix60Center 	{ width: 60px; text-align: center; }
.list td.fix60 			{ width: 60px; text-align: left;}
.list td.fix60Right 	{ width: 60px; text-align: right;}
.list td.fix80Center 	{ width: 80px; text-align: center; }
.list td.fix80Right		{ width: 80px; text-align: right; }
.list td.fix80 			{ width: 80px; text-align: left;}
.list td.fix90Center 	{ width: 90px; text-align: center; }
.list td.fix90Right		{ width: 90px; text-align: right; }
.list td.fix90 			{ width: 90px; text-align: left;}
.list td.fix95Center 	{ width: 95px; text-align: center; }
.list td.fix95 			{ width: 95px; text-align: left;}
.list td.fix100Center 	{ width: 100px; text-align: center; }
.list td.fix100	 		{ width: 100px; text-align: left;}
.list td.fix110Center 	{ width: 110px; text-align: center; }
.list td.fix110	 		{ width: 110px; text-align: left;}
.list td.fix120Center 	{ width: 120px; text-align: center; }
.list td.fix120		 	{ width: 120px; text-align: left;}
.list td.fix140Center 	{ width: 140px; text-align: center; }
.list td.fix140 		{ width: 140px; text-align: left;}
.list td.fix200Center 	{ width: 200px; text-align: center; }
.list td.fix200			{ width: 200px; text-align: left;}
.list td.valor			{ width: 120px; text-align: right; }
.list td.image			{ width: 20px; text-align: center; }
.list td.imageCab		{ width: 14px; text-align: center; }

.td.imagem			{ width: 20px; text-align: center; }
div.contenttabperiodicidade		{ margin-top: 4px; margin-left: 15px;}
div.contenttabperiodicidade input.numeric		{ width: 80px; }
div.contenttabperiodicidade input.date			{ width: 80px; }
div.contenttabperiodicidade table td.formlabel	{ width: 18%; text-align: right; }
div.contenttabperiodicidade table td	{ vertical-align: middle; }
div.contenttabperiodicidade table tr	{ line-height: 30px; }

.idAccoCdAcaocob { width: 300px; border: 1px #e0e0e0 solid; resize: none; height: 20px; vertical-align: middle; }
.idEmcoCdEmprecob { width: 210px; border: 1px #e0e0e0 solid; resize: none; height: 20px; vertical-align: middle; }
.idReneCdRegnegociacao { width: 240px; border: 1px #e0e0e0 solid; resize: none; height: 20px; vertical-align: middle; }

.idCampCdCampanha { width: 300px; border: 1px #e0e0e0 solid; resize: none; height: 20px; vertical-align: middle; }
.idPublCdPublico { width: 210px; border: 1px #e0e0e0 solid; resize: none; height: 20px; vertical-align: middle; }


.campoDescricao { width: 400px; border: 1px #e0e0e0 solid; resize: none;}
.frameEspec	    { border-top-left-radius: 5px; border: 1px solid #7ea4c2; padding: 2px; background-color: #f4f4f4; }


div.divBotoes  { width: 620px; height:30px; margin: 0; display:none; overflow:hidden; margin-left: 20px; margin-top: 5px; float:left;}
div.divBotoes img { vertical-align: middle; }

div.btnsEspec  { height:30px; margin: 0; }
div.btnsEspec img { vertical-align: middle; }

div.divSetaDir { width: 30px; cursor: pointer; display: inline; position: absolute; top: 538px; left: 675px; }
div.divSetaDir img { vertical-align: middle; }

div.telaestrategias{display:none}