.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #008080;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFFFF
}
.menuvertBackColor{
	background-color: #C5DAA8;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	cursor: default
}
.objetoBotaoMouseDown{
	background-color: #158B8B;
	border: 1px solid;
	border-color: #000000 #C0C0C0 #C0C0C0 #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #158B8B;
	border: 2px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #158B8B;
	border: 1px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #A0D0D0;
	border: 1px solid;
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #808080;
	cursor: default
}
.objetoItemBorda{
	background-color: #C0C0C0;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemMouseOver{
	background-color: #55ABAB;
	border: 0px #808080 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #FFFFFF
}
.objetoItemNormal{
	background-color: #C5DAA8;
	border: 0px solid;
	border-color: #808080 #808080 #808080 #808080;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #C5DAA8;
	border: 0px solid;
	border-color: #C0C0C0 #000000 #000000 #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #FFFFFF
}
.objetoMenu{
	background-color: #808080;
	border: 2px solid;
	border-color: #000000 #C0C0C0 #C0C0C0 #000000
}
.objetoOpcaoVisualizar{
	background-color: #158B8B;
	border: 1px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF
}
body{
	scrollbar-3dlight-color:#008080;
	scrollbar-arrow-color:#008080;
	scrollbar-darkshadow-color:#008080;
	scrollbar-face-color:#C5DAA8;
	scrollbar-highlight-color:#DAEDED;
	scrollbar-shadow-color:#41A0A0;
	scrollbar-track-color:#C5DAA8
}
