body {scrollbar-face-color:#FFE8DD;
scrollbar-highlight-color:#FFE8DD;
scrollbar-3dlight-color:#FFA477;
scrollbar-darkshadow-color:#FFE8DD;
scrollbar-shadow-color:#FFA477;
scrollbar-arrow-color:#FFA477;
scrollbar-track-color:#FFE8DD}
.menuvertBackColor {  background-color: #FFE8DD; border: #FFA477 solid; border-width: 0px 1px 1px}
.objetoMenu { background-color: #f4f4f4; border: 2px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE}
.objetoBotaoNormal { background-color: #FF9900; border: 1px solid; border-color: #FFFFFF #663333 #663333 #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #000000; cursor: pointer}
.objetoBotaoMouseOver { background-color: #FF9900; border: 2px solid; border-color: #FFFFFF #663333 #663333 #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #990000; font-weight: bold; cursor: pointer}
.objetoItemNormal { background-color: #FFE8DD; border: 0px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE ; font-family: Arial, Helvetica, sans-serif; font-size: 10px; cursor: pointer}
.objetoItemMouseOver { background-color: #FFD393; border: 0px #55859B solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer; font-weight: bold; color: #000066}
.objetoItemBorda { background-color: #FFE8DD; border: 1px #FF9900 solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer }
.objetoBotaoMouseDown { background-color: #FF9900; border: 1px solid; border-color: #663333 #FFFFFF #FFFFFF #663333; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #993300; font-weight: bold; cursor: pointer }
.objetoBotaoNormalDisabled { background-color: #FFD79B; border: 1px solid; border-color: #FFFFFF #FF9900 #FF9900 #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #CC6633; cursor: default}
.objetoItemNormalDisabled { background-color: #FFE8DD; border: 0px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE ; font-family: Arial, Helvetica, sans-serif; font-size: 10px; cursor: default; color: #999999}
.objetoOpcaoVisualizar { background-color: #FF9900; border: 1px solid; border-color: #FFFFFF #990000 #990000 #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #333333}
.cursorHand {  cursor: pointer}
.defineCssMouseOver { background-color: #FF9900; border: 1px #993300 solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer ; color: #FFFFFF}

