.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #8A4747;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.menuvertBackColor{
	background-color: #C18484;
	border: #FFA477 solid;
	border-width: 0px 1px 1px;
	cursor: default
}
.objetoBotaoMouseDown{
	background-color: #AC5858;
	border: 1px solid;
	border-color: #663333 #FFFFFF #FFFFFF #663333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFF00;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #AC5858;
	border: 2px solid;
	border-color: #FFFFFF #663333 #663333 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFF00;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #AC5858;
	border: 1px solid;
	border-color: #FFFFFF #663333 #663333 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFF00;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #C18484;
	border: 1px solid;
	border-color: #E2C6C6 #800000 #800000 #E2C6C6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #800000;
	cursor: default
}
.objetoItemBorda{
	background-color: #A85151;
	border: 1px #800000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.objetoItemMouseOver{
	background-color: #A85151;
	border: 0px #55859B solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #FFFF00
}
.objetoItemNormal{
	background-color: #C18484;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #C18484;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #EFDEDE
}
.objetoMenu{
	background-color: #F4F4F4;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE
}
.objetoOpcaoVisualizar{
	background-color: #AC5858;
	border: 1px solid;
	border-color: #E2C4C4 #000000 #000000 #E2C4C4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333
}
body{
	scrollbar-3dlight-color:#FFA477;
	scrollbar-arrow-color:#6B0202;
	scrollbar-darkshadow-color:#800000;
	scrollbar-face-color:#C18484;
	scrollbar-highlight-color:#FFE8DD;
	scrollbar-shadow-color:#B58181;
	scrollbar-track-color:#C18484
}
