<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/plusoft-resources/css/global.css" type="text/css">
<% if(!br.com.plusoft.fw.webapp.RequestHeaderHelper.isW3CBrowser(request)) { %>
<link rel="stylesheet" href="/plusoft-resources/css/plusoft-images-nodata.css" type="text/css">
<% } %>
<script language="JavaScript">

function verificaPessoaPendente(){
	
}
//-->
</script>
</head>

<body class="principalBgrPageIFRM" text="#000000">
<table border="0" cellspacing="1" cellpadding="0" align="center" width="99%">
  <tr> 
    <td width="24px" height="22" align="center" td="td_login01">
    	<a href="#" class="geralImgDisabled telefonia_login"></a>
    	<!-- img src="../images/botoes/bt_login.gif" width="84" height="22" class="geralImgDisabled" -->
    </td>
    <td class="pL geralImgDisable" td="td_login02">
    	Login
    </td>
    <td width="24px" height="22" align="center" td="td_logout01">
    	<a href="#" class="geralImgDisabled telefonia_logout"></a>
    	<!-- img src="../images/botoes/bt_logout.gif" width="83" height="22" class="geralImgDisabled"-->
    </td>
    <td class="pL geralImgDisable" td="td_logout02">Logout</td>
  </tr>
  <tr> 
    <td width="24px" height="22" align="center" td="td_disponivel01">
    	<a href="#" class="geralImgDisabled telefonia_disponivel"></a>
    	<!-- img src="../images/botoes/bt_disponivel.gif" width="84" height="24" class="geralImgDisabled" -->
    </td>
    <td class="pL geralImgDisable" td="td_disponivel02">Disp./Indisp.</td>
    <td width="24px" height="22" align="center" td="td_hold01">
    	<a href="#" class="geralImgDisabled telefonia_hold"></a>
    	<!-- img src="../images/botoes/bt_hold.gif" width="83" height="24" class="geralImgDisabled"-->
    </td>
    <td class="pL geralImgDisable" td="td_hold02">Hold</td>
  </tr>
  <tr> 
    <td width="24px" height="22" align="center" td="td_mudo01">
    	<a href="#" class="geralImgDisabled telefonia_mudo"></a>
    	<!-- img src="../images/botoes/bt_mudo.gif" width="84" height="23" class="geralImgDisabled" -->
    </td>
    <td class="pL geralImgDisable" td="td_mudo02">Mudo</td>
    <td width="24px" height="22" align="center" td="td_desligar01">
    	<a href="#" class="geralImgDisabled telefonia_desligar"></a>
    	<!-- img src="../images/botoes/bt_desligar.gif" width="83" height="23" class="geralImgDisabled"-->
    </td>
    <td class="pL geralImgDisable" td="td_desligar02">Desligar</td>
  </tr>
  
  <tr> 
    <td width="24px" height="22" align="center" td="td_transefencia01">
    	<a href="#" class="geralImgDisabled telefonia_transefencia"></a>
    	<!-- img src="../images/botoes/bt_transfer.gif" width="118" height="25" class="geralImgDisabled" -->
    </td>
    <td class="pL geralImgDisable" td="td_mudo02" colspan="3">Transef./Consult.</td>
  </tr>
  <tr>
    <td width="24px" height="22" align="center" td="td_discagem01">
    	<a href="#" class="geralImgDisabled telefonia_discagem"></a>
    	<!-- img src="../images/botoes/bt_discmanual.gif" width="118" height="24" class="geralImgDisabled"-->
    </td>
    <td class="pL geralImgDisable" td="td_discagem02" colspan="3">Discagem Manual</td>
  </tr>
</table>
</body>
</html>
