.superiorFntVlrFixo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.superiorFntVlrVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none ; font-style: italic}
.superiorBgrPage {  background-color: #FFFCF4}
.superiorPstSelecionada {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastas/pstSelecionada.gif); text-align: center; height: 20px; width: 120px; cursor: pointer}
.superiorPstNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; background-image: url(../images/pastas/pstNormal.gif); text-align: center; height: 20px; width: 120px ; cursor: pointer}
.superiorPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 20px; cursor: pointer }
.esquerdoBgrPage { background-color: #FFFCF4}
.esquerdoFntTituloPastas {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalQuadroPst { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px; background-color: #f4f4f4}
.principalQuadroPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f4f4f4}
.principalQuadroPstVazio { font-family: Arial, Helvetica, sans-serif; font-size: 2px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f4f4f4}
.principalPstQuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadro.gif); height: 17px; width: 166px; text-align: center}
.principalPstQuadroLinkSelecionado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionado.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalPstQuadroLinkNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormal.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalLabel {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000}
.principalLabelHand {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 ;cursor: pointer}
.principalObjForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalObjFormFixo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border: 1px #E0E0E0 solid}
.principalObjVermelhoForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalObjAzulForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0033FF; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalObjForm2 { font-family: Courier, Courier New, Arial; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalBgrQuadro { border: #7088c5 solid; background-color: #f4f4f4; border-width: 0px 0px 0px 1px}
.principalBgrPage { background-color: #FFFCF4}
.inferiorBgrPage { background-color: #FFFCF4}
.inferiorMarquee {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalPstQuadroLinkNormalMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkNormalMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroLinkVazio { height: 18px; border: #7EA5B8 solid; text-decoration: none; border-width: 0px 0px 1px}
.principalPstQuadroLinkVazio2 { height: 18px; border: #7EA5B8 solid; text-decoration: none; border-width: 0px 0px 0px}
.principalBgrPageIFRM { background-color: #f4f4f4}
.esquerdoBdrQuadro {  background-color: #f4f4f4; border: #9BB9C8; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralCursoHand {  cursor: pointer; text-decoration: none}
.esquerdoBgrPageIFRM { background-color: #f4f4f4}
.esquerdoLstPar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.esquerdoLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.principalObjFormCombo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 none}
.principalLabelOptChk { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none }
.principalBdrInlcuiTelefone {  border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7}
.principalLstCab {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #7EA5B8; font-weight: bold}
.principalLstCab2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #3E6173; font-weight: bold}
.principalLstCab3 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #A5BAC5; font-weight: bold}
.principalResultList {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none; font-weight: bold}
.principalLstPar {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstParDestaque { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; color: #FFFFFF; background-color: #0000FF}
.principalLstParMao {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;cursor: pointer}
.principalLstDest {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #CFDBE7}
.principalObjForm3D { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%}
.principalBdr4Lados { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7 }
.principalLabelValorFixo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold}
.principalLabelValorVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none }
.principalLabelGrafico { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border: #739BB0; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
body {scrollbar-face-color:#f4f4f4;
scrollbar-highlight-color:#f4f4f4;
scrollbar-3dlight-color:#5C81AA;
scrollbar-darkshadow-color:#f4f4f4;
scrollbar-shadow-color:#5C81AA;
scrollbar-arrow-color:#5C81AA;
scrollbar-track-color:#f4f4f4}
.principalLabelPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0}
.principalLstPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0 ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; cursor: pointer}
.principalFntResultadoInformacao { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; color: #7EA5B8; font-weight: normal; font-style: italic}
.principalTituloBlocoVerde { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; font-weight: bold; color: #719CB0 }
.principalLabelHoraAgenda {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; font-weight: bold; text-align: center; border-color: #CCCCCC black black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLabelMinutoAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none}
.principalObjFormAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4}
.principalLstParAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLstImparAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjFormAgenda02 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #EEEEEE}
.principalBordaQuadro { border: 1px #7088c5 solid; background-color: #f4f4f4}
.esquerdorlabelOperacoes { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: double; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBdr4LadosNeutro { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralTxtDecoration { text-decoration: none ; cursor: pointer}
.principalObjFormCmbCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; clip:   rect(   )}
.geralImgDisable { text-decoration: none; filter: Alpha(Opacity=30);-moz-opacity:.25 }
.geralImgDisabled { text-decoration: none; filter: Alpha(Opacity=20);-moz-opacity:.25 }
.geralLayerDisable { text-decoration: none; filter: Alpha(Opacity=50);-moz-opacity:.25 }
.geralImgHidden { text-decoration: none; filter: Alpha(Opacity=0)}
.principalObjFormStatus { font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none ; width: 99%; color: #993333; background-color: #f4f4f4; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; text-align: center; font-style: italic}
.geralImgDisabledLoading { text-decoration: none; filter: Alpha(Opacity=0)}
.principalBgrPageIFRMDestacar { background-color: #F4F4F4; border: 1px #CFCFCF solid}
.esquerdoBdrQuadroTop { background-color: #f4f4f4; border: 1px #9BB9C8 solid}
.esquerdorlabeltelefonia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBordaDown { border: #7088c5 solid; background-color: #f4f4f4 ; border-width: 0px 0px 1px}
.principalObjFormGrd { font-family: Arial, Helvetica, sans-serif; font-size: 58px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormMedio { font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormPerfCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4 ; text-align: right}
.labelProgressPreto {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.labelProgressAmarelo { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFF00; text-decoration: none }.nomeMenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; background-color: #7EA5B8; cursor: pointer}
.nomeMenuSelect { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #336699 #B5CDE6 #B5CDE6 #336699; background-color: #7EA5B8 ; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; cursor: pointer}
.nomeMenuNoBrdr { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; background-color: #7EA5B8 ; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.PrincipalTitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.principalLstParNumerador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	background-color: #6494AA;
	color: #CCCCCC;
	text-align: center;
}
.esquerdoBdrQuadroTotal {
	background-color: #f4f4f4;
	border-top: 1px solid #9BB9C8;
	border-right: 1px solid #9BB9C8;
	border-bottom: 1px solid #9BB9C8;
	border-left: 1px solid #9BB9C8;
}
.principalLstParMouse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	cursor: pointer;
	color: #000000;
}
.principalLstParLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	color: #000000;
}
.desabilitado {  filter: Alpha(Opacity=50)}
.intercalaLst0 {  background-color: #f4f4f4; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.intercalaLst1 {  background-color: #CED8E1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.intercalaLstSel {  background-color: #98ADC0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}

.LegVerde {  background-color: #66CC00; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegAzul {  background-color: #0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegVermelho { background-color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegCinza { background-color: #E0E0E0; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegCiano { background-color: #FFFFC0; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegAmarelo { background-color: #FFFF00; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}

.LegendaVerde {  background-color: #66CC00; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaAzul {  background-color: #0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaVermelho { background-color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaCinza { background-color: #E0E0E0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaCiano { background-color: #FFFFC0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaAmarelo { background-color: #FFFF00; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}

.principalLabelMenor { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px }
.principalPstQuadroGiant { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadroGiant.gif); height: 17px; width: 280px; text-align: center ; clip:  rect(   )}
.principalPstQuadroLinkNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 180px}



.espacoPqn {  font-family: Arial, Helvetica, sans-serif; font-size: 5px}
.principalLabelAlerta {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #FF0000; text-decoration: none}
.principalLabelVermelho {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none}


.espacoPqn {  font-family: Arial, Helvetica, sans-serif; font-size: 5px}
.principalLabelAlerta {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; color: #FF0000; text-decoration: none}
.TabelaHoraContatoNeutro { background-color: #6699CC}
.TabelaHoraContatoVermelho { background-color: #004A82}.principalLstVerde { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #336600}
.principalLstVermelho { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: #FF0000; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; background-color: #FFF0F0}
.principalLstParSeparador { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black #CCCCCC #CCCCCC black; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.principalObjFormCem { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 100%; border: 1px #E0E0E0 solid ; clip:  rect(   )}
.principalObjForm3 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #999999 solid}
.principalLabelResposta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #0E5EB6}
.TabelaHoraContatoVermelho { background-color: #004A82}.principalLstVerde { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #336600}
.principalLstParSeparador { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black #CCCCCC #CCCCCC black; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 0px}
.principalObjFormCem { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 100%; border: 1px #E0E0E0 solid ; clip:  rect(   )}
.principalObjForm3 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #999999 solid}
.principalLabelResposta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #0E5EB6}
.principalPstQuadroAzul { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadroAzul.gif); height: 17px; width: 166px; text-align: center }
.principalQuadroPstVaziaAzul { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: solid; background-color: #f4f4f4 ; border-width: 1px 0px 0px; border-color: #003399 #7088c5 #7088c5}
.Espaco2 {  font-family: Arial, Helvetica, sans-serif; font-size: 5px}
.Link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: underline; color: #0000FF; cursor: pointer}
.Espaco {  font-family: Arial, Helvetica, sans-serif; font-size: 5px}
.principalLabelDestaque { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: normal; color: #0000FF }
.principalLabelValorFixoDestaque { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; font-weight: bold ; color: #0000FF}
.principalLabelFundo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000; background-color: #f4f4f4}
.principalLabelFicha { font-family: Times New Roman, Helvetica, sans-serif; font-size: 13px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 }
.principalLabelFichaLaser { font-family: Times New Roman, Helvetica, sans-serif; font-size: 8px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 }
.principalLabelFichaValor { font-family: Times New Roman, Helvetica, sans-serif; font-size: 13px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 ; font-weight: normal}
.principalLabelFichaLinha { font-family: Arial, Helvetica, sans-serif; font-size: 2px; text-decoration: none; color: #000000 ; border-color: #000000 black black; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLabelFichaLaserValor { font-family: Times New Roman, Helvetica, sans-serif; font-size: 10px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 ; font-weight: normal}


.TabelaHoraContatoCinza { background-color: #666666; background-color: #004A82 }
.TabelaHoraContatoVerde { background-color: #006600; background-color: #004A82 }
.principalLinha { font-family: Arial, Helvetica, sans-serif; font-size: 2px; font-weight: normal; text-decoration: none; border: #7088c5 solid; border-width: 1px 0px 0px; clip:  rect(   )}
.principalPstQuadroLinkSelecionadoMAIOR2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMaior2.gif); text-align: center; height: 18px; width: 300px; cursor: pointer ; clip:  rect(   )}
.principalLstParLinhas { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border: #6699CC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.principalLstParLinhasMenor { font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; border: #6699CC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }
.principalLstParLinhasMenorVerde { font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; border: #6699CC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px ; color: #FFFFFF; background-color: #006600}
.principalLabelTitulo { font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 ; font-weight: bold}
.principalBordaQuadroFundo { border: 1px #000000 solid; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: none; background-attachment: fixed; background-repeat: repeat}
.principalLstParImpress { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.principalLabelImpress { font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 }
.principalLabelImpress2 { font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000 }
.principalLabelValorFixoMarcador { font-family: "Times New Roman", Times, serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #000000 }
.principalPstQuadroSelecionadoMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMaior.gif); text-align: center; height: 18px; width: 150px}
.principalLabelAzul { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; text-decoration: none ; font-weight: bold}
.espacoPqn2 {  font-family: Arial, Helvetica, sans-serif; font-size: 2px}
.principalLabelCorrespondencia {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #444444}