@CHARSET "ISO-8859-1";


.principalLabelespec {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000;font-weight:bold;}
.principalLabelespec2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #B32637;font-weight:bold;}
.principalLabelespec3 {  font-family: Arial, Helvetica, sans-serif; font-size: 30px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000;}
.principalLabelespec4 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000;font-weight:bold;}
.principalPstQuadroespec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(/csiweb-medtronic/crm/telefonia/images/pstQuadroEspec.png); height: 15px; width: 147px; text-align: center;background-repeat:no-repeat;}
.principalLabelEspec{  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000}
.principalObjFormEspec { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.buttonEspecTelefonia{background:#7EA4C2;font-family:arial;font-size:11;color:#FFFFFF;font-weight:bold;height:20px;}



.principalQuadroFull { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; background-color: #f4f4f4}
.principalQuadroEspec { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #666699; text-decoration: none; height: 17px;background-color: #f4f4f4}
.principalQuadroEspec2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-decoration: none; height: 17px;background-color: #f4f4f4}
.principalQuadroEspec {height: 17px;background-color: #f4f4f4}
.principalObjFormEspec{ font-family: Arial, Helvetica, sans-serif;font-weight:bold;font-size: 12px; text-decoration: none ;border: 1px #E0E0E0 solid;background-color: #F9F9F9; }
.principalObjFormEspec2{ font-family: Arial, Helvetica, sans-serif;font-size: 16px; text-decoration: none ;border: 1px #E0E0E0 solid;background-color: #F9F9F9; width:100%;height:25px; }

.principalQuadroFull2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px;color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #f4f4f4}
.principalQuadroTop { font-family: Arial, Helvetica, sans-serif; font-size: 11px;  color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; background-color: #f4f4f4}
.principalQuadroMid { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; background-color: #f4f4f4}
.principalQuadroBottom { font-family: Arial, Helvetica, sans-serif; font-size: 11px;  color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #f4f4f4}