.layoutAbaSelecionado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(webFiles/images/pastasQuadro/pstSelecionado.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.layoutAbaNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(webFiles/images/pastasQuadro/pstNormal.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.botaoLeft {  cursor: pointer; text-decoration: none; width: 21; height: 18}
.botaoRigth {  cursor: pointer; text-decoration: none; width: 21; height: 18}
.quadroabas { border: #7088c5 solid; background-color: #f4f4f4; border-width: 1px 1px 1px 1px; width: 90%; height: 400; clear: left; float: left; }
.abaintroducao {position: absolute; overflow: auto; width: 90%; height: 400; }
.abaquestionario {position: absolute; overflow: auto; width: 90%; height: 400; }
.abaconclusao {position: absolute; overflow: auto; width: 90%; height: 400; }
.divfinalizar {position: absolute; overflow: auto; width: 90; height: 30; top: 350;left: 300; cursor: pointer; }
.botaogravar {width: 20 ; height: 20; border: 0; cursor: pointer;}	
.quadronavegacao { border: #7088c5 solid; background-color: #f4f4f4; border-width: 0px 0px 0px 0px; width: 90%; height: 50; clear: left; float: left; }
.labelpadrao {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000}