.ficha {
	min-width: 800px;
	width:expression(document.body.clientWidth < 800? "800px": "100%" );
	margin-bottom: 50px;
}

.ficha .frame .content { height: auto; overflow: hidden; margin-top: 10px; }
.ficha .frame  { margin-left: 10px; width: 780px; height: auto; margin-top: 10px; }
hr { margin: 10px; visibility: hidden; }


.frame .content .detalhe { min-width: 100px; min-height: 20px; float:left; clear: both; width: 600px; font-weight: bold; color: red; margin-top: 10px; margin-bottom: 0px;  }
.frame .content div { min-width: 100px; min-height: 20px; float: left;  } 
.frame .content div span.dl { width: 60px; text-align: right; display: block; float: left; line-height: 18px; }
.frame .content div span.dv { width: 180px; display: block; float: left; background-repeat: no-repeat; background-position: left; margin-left: 5px; padding-left: 10px; font-weight: bold; line-height: 18px; background-image: url(data:image/gif;base64,R0lGODlhBwAHAMQAAKjM8oWn5KjM8OLs/KbK8Ye28aXH8XKm6Im36m+l7uju/Nzo953A65/B7XWs6a7I7KrD7LLQ+OHs+YKy75O87bzV8oW17+bp8KjK8uXt/v38/eHr/aXJ8P///wAAAAAAACH5BAEAAB0ALAAAAAAHAAcAAAUgYBc5Smd2HFIMpyFV1GVij9YkJgEx1mYCgcniJDhkTiEAOw==); }
.frame .content div span { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.frame .content .wide span.dv { width: 425px; }
.frame .content .widetext span.dv { width: 625px; margin-bottom: 15px; white-space: normal; }

.ficha .parcelas { page-break-inside: avoid; }
.ficha .parcelas table 		{ width: 100% }

.list { border: 0px; }

td.checktd		{ width: 25px; text-align: center; }
td.sph			{ width: 18px; }
td.small		{ width: 35px; }
td.number		{ width: 50px; text-align: center; }
td.date			{ width: 80px; text-align: center; }
td.valor		{ text-align: right; }
td.widetext		{ width: 150px; }

td.image a 		{ display: inline; }
td.image a img	{ width: 16px; height: 16px; }

.contrato .dadoscontrato .botoes { width: 70px; float: right; text-align: right; min-width: 0px; position: relative; top: -30px; }

.popup  { display: none; }
.popup p { line-height: 16px;  }
.popup select { width: 300px; padding: 1px; }


@media print {
 	td.image { display: none; }
}
