* {
    outline: medium none;
    line-height: 13px;
}

img { vertical-align: middle; }

div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	font-weight: normal;
	cursor: default; 
}

div.fixo {
	font-weight: bold;
}

div.post {
	width: 100%;
}

div.post .titulo {
	color: #333333;
	font-size: 18px;
	line-height: 18px;
	margin: 3px 0;
}

div.post .info {
	width: 100%;
}

div.post .descricao {
	color: #888888;
	line-height: 14px;
	font-size: 12px;
}


hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #888888;
    border-style: none none dashed;
    border-width: medium medium 1px;
    height: 1px;
    width: 100%;
}

select {
    border: 1px solid #CCCCCC;
    color: #444444;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;    
	font-size: 1em;
    font-weight: normal;
    margin: 5px 0 5px 4px;
    width: 98%;
}

.right { text-align: right; float: right; }
.box  { float: left; line-height: 16px; }

.botao { cursor: pointer; }

div.aguarde { position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity:0.4;filter:alpha(opacity=40); background-color: #CDCDCD; z-index: 500; cursor: wait; cursor: wait; }
div.aguardeimg { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 501; cursor: wait; background-color: transparent; background-repeat: no-repeat; background-position: center; background-image: url('/plusoft-resources/images/icones/ajax-loader.gif'); }
