* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

body {
	background-color: #f4f4f4;
	color: #000000;
	margin: 0px;
	overflow: hidden;
	border-right: 1px #9bb9c8 solid;
}

a {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

ul {
	list-type: none; list-style-type : none;
	margin: 1px;
	list-style-type: none; margin : 1px;
	padding: 0px;
}

li {
	list-type: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.listmenu { display: none; }

a.menu {
	display: block;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	background-color: #95B6C6;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
}

a.menuitem {
	display: block;
	padding: 10px 5px 5px 5px;
	font-size: 10px;
	border: 1px solid #f4f4f4;
}

a.selected {
	background-color: #C8D9E1; border: 1px #55859B solid;
	font-weight: bold;
	color: #333377; 
}

a.menuitem img {
	border: 0px;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}
	
ul li.plusoft {
	color: #497083;
	font-weight: normal;
	cursor: default;
	font-size: 11px;
	text-align: center;
	line-height: 20px;
	background-color: #95B6C6;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
}

ul li a:hover {
	color: #497083;
}

ul li ul {
	display: none;
}