
a.lixeira  			{ background-image: url(/plusoft-resources/images/botoes/lixeira.gif); }
a.setadown 			{ background-image: url(/plusoft-resources/images/botoes/setaDown.gif); }
a.sair     			{ background-image: url(/plusoft-resources/images/lite/botoes/sair.gif); }
a.gravar   			{ background-image: url(/plusoft-resources/images/lite/botoes/gravar.gif); }
a.cancelar 			{ background-image: url(/plusoft-resources/images/lite/botoes/cancelar.gif); }  
a.novo 	   			{ background-image: url(/plusoft-resources/images/botoes/new.gif); }  


span.setaazul 		{ background-image: url(/plusoft-resources/images/icones/setaAzul.gif); } 
span.aguardeimg 	{ background-image: url(/plusoft-resources/images/icones/ajax-loader.gif); }

div.aguarde 		{ background-image: url(/plusoft-resources/images/icones/ajax-loader.gif); }

.login 				{ background-image: url(/plusoft-resources/images/lite/login/button-login.gif); }
.login-extended 	{ background-image: url(/plusoft-resources/images/lite/login/button-login-extended.gif); }


td.seta 			{ background-image: url(/plusoft-resources/images/icones/setaAzul.gif); }

.toolbar			{ background-image: url("/plusoft-resources/images/email/toolbar-bg.gif"); }

.aniversario  		{ background-repeat: no-repeat; background-image: url(/plusoft-resources/images/icones/aniversario.gif); }
.retornoCorresp		{ background-repeat: no-repeat; background-image: url(/plusoft-resources/images/icones/RetornoCorrespAnimated2.gif); }
.oportunidade   	{ background-repeat: no-repeat; background-image: url(/plusoft-resources/images/icones/oportunidade.gif); }
.check   			{ background-repeat: no-repeat; background-image: url(/plusoft-resources/images/icones/check.gif); }
.historico			{ background-image: url(/plusoft-resources/images/icones/historico.gif); }
.email				{ background-image: url(/plusoft-resources/images/icones/email25x17.gif); }

.VertSombra				{font-size: 1px; width:4px; background-repeat: repeat-y; background-position: center; background-image: url(/plusoft-resources/images/linhas/VertSombra.gif); }
.horSombra				{font-size: 1px; height:4px; background-repeat: repeat-x; background-position: center; background-image: url(/plusoft-resources/images/linhas/horSombra.gif); }
.cntInferiorDireito		{font-size: 1px; width:4px; height:4px; background-repeat: no-repeat; background-image: url(/plusoft-resources/images/linhas/cntInferiorDireito.gif); }

.principalPstQuadroLinkNormalMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstNormalMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstSelecionadoMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkNormalMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstNormalMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstSelecionadoMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstQuadro.gif); background-repeat: no-repeat; height: 17px; width: 166px; text-align: center}
.principalPstQuadroLinkSelecionado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstSelecionado.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalPstQuadroLinkNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(/plusoft-resources/images/pastasQuadro/pstNormal.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}

/** COMANDOS **/
a.comandos_ativo 			{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_ativo.gif); }
a.comandos_receptivo 		{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_receptivo.gif); }
a.comandos_gravar			{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_gravar.gif); }
a.comandos_cancelar			{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_cancelar.gif); }
a.comandos_diversos			{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_diversos.gif); }
a.comandos_atend			{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_atend.gif); }
a.comandos_mesa				{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_mesa.gif); }
a.comandos_sair				{ background-image: url(/plusoft-resources/images/botoes/comandos_bt_sair.gif); }

/** OPERACOES **/
a.operacoes_agendaRetorno 		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_agendRetorno.gif); }
a.operacoes_assistente 			{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_assistente.gif); }
a.operacoes_classificador 		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_classificador.gif); }
a.operacoes_correspondencia		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_correspon.gif); }
a.operacoes_enviarFormulario	{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_enviarFormular.gif); }
a.operacoes_mktRelacionamento   { background-image: url(/plusoft-resources/images/botoes/operacoes_bt_MktRela.gif); }
a.operacoes_ocorrenciaMassiva	{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_OcorrenciaMassiva.gif); }
a.operacoes_preatendimento 		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_PreAtendimento.gif); }
a.operacoes_prodCientifica 		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_ProdCientifica.gif); }
a.operacoes_retornoCorresp 		{ background-image: url(/plusoft-resources/images/botoes/operacoes_bt_RetornoCorresp.gif); }

/** TELEFONIA **/
a.telefonia_login 			{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_login.gif); }
a.telefonia_logout 			{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_logout.gif); }
a.telefonia_disponivel 		{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_disponivel.gif); }
a.telefonia_hold			{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_hold.gif); }
a.telefonia_mudo			{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_mudo.gif); }
a.telefonia_desligar	   	{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_desligar.gif); }
a.telefonia_transefencia   	{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_transfer.gif); }
a.telefonia_discagem		{ background-image: url(/plusoft-resources/images/botoes/telefonia_bt_discmanual.gif); }

span.seta_azul		{ background-image: url(/plusoft-resources/images/icones/setaAzul.gif); }
a.lupa				{ background-image: url(/plusoft-resources/images/botoes/lupa.gif); }

a.edit 	   		{ background-image: url(/plusoft-resources/images/botoes/editar.gif); }
a.setaLeft 	   	{ background-image: url(/plusoft-resources/images/botoes/setaLeft.gif); }
a.setaRight	   	{ background-image: url(/plusoft-resources/images/botoes/setaRight.gif); }
a.lixeira18	   	{ background-image: url(/plusoft-resources/images/botoes/lixeira18x18.gif); }
a.confirmar	   	{ background-image: url(/plusoft-resources/images/botoes/confirmaEdicao.gif); }
img.confirmar	   	{ image: url(/plusoft-resources/images/botoes/confirmaEdicao.gif); }

a.novoContato	   	{ background-image: url(/plusoft-resources/images/botoes/novoContato.gif); }
a.perfil	   		{ background-image: url(/plusoft-resources/images/icones/perfil01.gif); }
a.pessXempr	   		{ background-image: url(/plusoft-resources/images/botoes/Seguro.gif); }
a.refresh 	   		{ background-image: url(/plusoft-resources/images/botoes/refresh.gif); }
a.bt_acao 			{ background-image: url(/plusoft-resources/images/icones/acao.gif); }
a.out 				{ background-image: url(/plusoft-resources/images/botoes/out.gif); }

a.criarCarta 		{ background-image: url(/plusoft-resources/images/botoes/bt_CriarCarta.gif); }
a.interrogacao 		{ background-image: url(/plusoft-resources/images/icones/interrogacao.gif); }
a.olho 				{ background-image: url(/plusoft-resources/images/botoes/Visao16.gif); }
a.procedimento 		{ background-image: url(/plusoft-resources/images/icones/maocolorida_pq.gif); }
a.orientaca 		{ background-image: url(/plusoft-resources/images/icones/informacao_pq.gif); }
a.esq 				{ background-image: url(/plusoft-resources/images/botoes/esq.gif); }
a.dir				{ background-image: url(/plusoft-resources/images/botoes/dir.gif); }
a.reincidente		{ background-image: url(/plusoft-resources/images/icones/alert_21x21.gif); }
a.recorrente		{ background-image: url(/plusoft-resources/images/icones/recicla.gif); }

a.calendar			{ background-image: url(/plusoft-resources/images/botoes/calendar.gif); }
a.binoculo			{ background-image: url(/plusoft-resources/images/icones/binoculo.gif); }
a.informacao		{ background-image: url(/plusoft-resources/images/icones/informacao.gif); }

span.exclamacao		{ background-image: url(/plusoft-resources/images/icones/exclamacao.gif); }
span.mail_message	{ background-image: url(/plusoft-resources/images/email/mail-message.gif); }

/** Chamado: 92537 - 19/12/2013 - Carlos Nunes **/
div.responsavel	{ background-image: url(/plusoft-resources/images/icones/responsavel.gif); }
div.email			{ background-image: url(/plusoft-resources/images/icones/email.gif); }
div.impress		{ background-image: url(/plusoft-resources/images/icones/impress.gif); }
div.carta			{ background-image: url(/plusoft-resources/images/icones/carta.gif); }
div.resposta		{ background-image: url(/plusoft-resources/images/icones/resposta.gif); }
div.PrevisaoResolucao	{ background-image: url(/plusoft-resources/images/icones/PrevisaoResolucao.gif); }

a.impress		{ background-image: url(/plusoft-resources/images/icones/impressora.gif); }
a.pasta			{ background-image: url(/plusoft-resources/images/botoes/pasta.gif); }