* { font-family: Arial, Helvetica, sans-serif; font-size: 11px; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

/** block **/
.block 		 { display: block; position: absolute; top: -10px; left: -10px; height: 120%; width: 120%;  }
.innerblock  { display: block; position: absolute; top: -10px; left: -10px; height: 120%; width: 120%; opacity: 0.4; filter: alpha(opacity = 40); background-color: #c0c0c0; } 

.outermodal { position: absolute; top: 0px; left: 0px; width: 110%; height: 110%; }

/** plusoft-frame **/
.frame	    { 
	cursor: default; 
	border-radius: 5px; border: 1px solid #7ea4c2; background-color: #f4f4f4;
	position: absolute;
	left: 100px;
	top: 100px;
	width: 400px;
	height: 400px;
}

.shadow {
	background-color: #303030;
	border-top-left-radius: 5px; 
	position: absolute;
	-moz-box-shadow: 0 0 15px 5px #888;
	-webkit-box-shadow: 0 0 15px 5px #888;
	box-shadow: 0 0 15px 5px #888;	
	
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15', MakeShadow='true', ShadowOpacity='0.60');
	zoom: 1;
}

.title 		{ 
	background-color: #7ea4c2; 
	border-radius: 5px; 
	display: block;  
	font-weight: bold; 
	line-height: 22px; 
	text-align: center; 
	color: #ffffff;
	margin: 2px; 
	margin-bottom: 5px; 
	cursor: move; 
}

.content    { position: relative; background-color: #f4f4f4; }

.iframecontent { width: 100%; height: 100%; }
 

.dialogsair { margin-right: 5px; margin-top: 10px; float: right; cursor: pointer; }