.superiorFntVlrFixo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.superiorFntVlrVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none ; font-style: italic}
.superiorBgrPage {  background-color: #FFFCF4}
.superiorPstSelecionada {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastas/pstSelecionada.gif); text-align: center; height: 20px; width: 120px; cursor: pointer}
.superiorPstNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; background-image: url(../images/pastas/pstNormal.gif); text-align: center; height: 20px; width: 120px ; cursor: pointer}
.superiorPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 20px; cursor: pointer }
.esquerdoBgrPage { background-color: #FFFCF4}
.esquerdoFntTituloPastas {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalQuadroPst { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px; background-color: #f4f4f4}
.principalQuadroPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f4f4f4}
.principalPstQuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadro.gif); height: 17px; width: 166px; text-align: center}
.principalPstQuadroLinkSelecionado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionado.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalPstQuadroLinkNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormal.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalLabel {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalObjForm2 { font-family: Courier, Courier New, Arial; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalBgrQuadro { border: #7088c5 solid; background-color: #f4f4f4; border-width: 0px 0px 0px 1px}
.principalBgrPage { background-color: #FFFCF4}
.inferiorBgrPage { background-color: #FFFCF4}
.inferiorMarquee {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalPstQuadroLinkNormalMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkNormalMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMaior.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroLinkVazio { height: 18px; border: #7EA5B8 solid; text-decoration: none; border-width: 0px 0px 1px}
.principalBgrPageIFRM { background-color: #f4f4f4}
.esquerdoBdrQuadro {  background-color: #f4f4f4; border: #9BB9C8; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralCursoHand {  cursor: pointer; text-decoration: none}
.geralLayerDisable { text-decoration: none; filter:alpha(opacity=50);-moz-opacity:.50 }
.esquerdoBgrPageIFRM { background-color: #f4f4f4}
.esquerdoLstPar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.esquerdoLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.principalObjFormCombo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 none}
.principalLabelOptChk { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none }
.principalBdrInlcuiTelefone {  border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7}
.principalLstCab {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #7EA5B8; font-weight: bold}
.principalResultList {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none; font-weight: bold}
.principalResultListAzul {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0000FF; text-decoration: none; font-weight: bold}
.principalLstPar {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstParMao {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;cursor: pointer}
.principalLstDest {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalObjForm3D { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%}
.principalBdr4Lados { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7 }
.principalLabelValorFixo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold}
.principalLabelValorVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none }
.principalLabelGrafico { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border: #739BB0; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.principalLabelPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0}
.principalLstPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0 ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; cursor: pointer}
.principalFntResultadoInformacao { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; color: #7EA5B8; font-weight: normal; font-style: italic}
.principalTituloBlocoVerde { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; font-weight: bold; color: #719CB0 }
.principalLabelHoraAgenda {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; font-weight: bold; text-align: center; border-color: #CCCCCC black black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLabelMinutoAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none}
.principalObjFormAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4}
.principalLstParAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLstImparAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjFormAgenda02 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #EEEEEE}
.principalBordaQuadro { border: 1px #7088c5 solid; background-color: #f4f4f4}
.esquerdorlabelOperacoes { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: double; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBdr4LadosNeutro { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralTxtDecoration { text-decoration: none ; cursor: pointer}
.principalObjFormCmbCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; }
.geralImgHidden { text-decoration: none; filter:alpha(opacity=0);-moz-opacity:.0  }
.geralImgDisable { text-decoration: none; filter:alpha(opacity=30);-moz-opacity:.30 }
.geralImgDisabled { text-decoration: none; filter:alpha(opacity=20);-moz-opacity:.20  }
.principalObjFormStatus { font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none ; width: 99%; color: #993333; background-color: #f4f4f4; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; text-align: center; font-style: italic}
.geralImgDisabledLoading { text-decoration: none; /*filter:alpha(opacity=0);*/-moz-opacity:.0 }
.principalBgrPageIFRMDestacar { background-color: #F4F4F4; border: 1px #CFCFCF solid}
.esquerdoBdrQuadroTop { background-color: #f4f4f4; border: 1px #9BB9C8 solid}
.esquerdorlabeltelefonia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBordaDown { border: #7088c5 solid; background-color: #f4f4f4 ; border-width: 0px 0px 1px}
.principalObjFormGrd { font-family: Arial, Helvetica, sans-serif; font-size: 58px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormMedio { font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormPerfCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4 ; text-align: right}
.labelProgressPreto {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.labelProgressAmarelo { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFF00; text-decoration: none }.nomeMenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; background-color: #7EA5B8; cursor: pointer}
.nomeMenuSelect { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #336699 #B5CDE6 #B5CDE6 #336699; background-color: #7EA5B8 ; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; cursor: pointer}
.nomeMenuNoBrdr { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; background-color: #7EA5B8 ; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.PrincipalTitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.principalLstParNumerador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	background-color: #6494AA;
	color: #CCCCCC;
	text-align: center;
}
.esquerdoBdrQuadroTotal {
	background-color: #f4f4f4;
	border-top: 1px solid #9BB9C8;
	border-right: 1px solid #9BB9C8;
	border-bottom: 1px solid #9BB9C8;
	border-left: 1px solid #9BB9C8;
}
.principalLstParMouse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	cursor: pointer;
	color: #000000;
}
.principalLstParLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-color: black black #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	color: #000000;
}
.principalLabel
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 0px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.principalEspacoPqn
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 7px;
    BORDER-LEFT: 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: 0px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.bordaquadro
{
    BORDER-RIGHT: #7ea5b8 1px solid;
    BORDER-TOP: #7ea5b8 1px solid;
    BORDER-LEFT: #7ea5b8 1px solid;
    BORDER-BOTTOM: #7ea5b8 1px solid
}
.principalLstVermelho { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; color: #FF0000; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px ; background-color: #FFF0F0}
.desabilitado {  /*filter:alpha(opacity=50);*/-moz-opacity:.50 }
.intercalaLst0 {  background-color: #f4f4f4; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.intercalaLst1 {  background-color: #CED8E1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.intercalaLstSel {  background-color: #98ADC0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}

.LegVerde {  background-color: #66CC00; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegAzul {  background-color: #0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegVermelho { background-color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegCinza { background-color: #E0E0E0; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegCiano { background-color: #FFFFC0; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}
.LegAmarelo { background-color: #FFFF00; font-family: Arial, Helvetica, sans-serif; font-size: 8px;}

.LegendaVerde {  background-color: #66CC00; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaAzul {  background-color: #0000FF; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaVermelho { background-color: #FF0000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaCinza { background-color: #E0E0E0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaCiano { background-color: #FFFFC0; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}
.LegendaAmarelo { background-color: #FFFF00; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;}

.principalLabelMenor { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px }
.principalPstQuadroGiant { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadroGiant.gif); height: 17px; width: 280px; text-align: center ; }
.principalPstQuadroLinkNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 150px; cursor: pointer}
.principalPstQuadroNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 180px}

.TabelaHoraContatoNeutro { background-color: #6699CC}
.TabelaHoraContatoVermelho { background-color: #004A82}.principalLstVerde { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #336600}
.principalLabelFundo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000; background-color: #f4f4f4}
.principalQuadroPstVaziaAzul { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: solid; background-color: #f4f4f4 ; border-width: 1px 0px 0px; border-color: #003399 #7088c5 #7088c5}

/* Chamado: 90705 - 18/10/2013 - Carlos Nunes */
.pLC {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #7EA5B8; font-weight: bold}

/* Chamado 81376 - 22/11/2013 - Jaider Alba */
.xls-jpg { background-position: 0px 0px; background-repeat: no-repeat; cursor:pointer; width:16px; height:16px; background-image: url('/plusoft-resources/images/icones/xls.jpg'); }
.xls-jpg64 { background-position:  0px 0px; background-repeat: no-repeat; cursor:pointer; width:16px; height:16px; background-image: url('data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5Ojf/2wBDAQoKCg0MDRoPDxo3JR8lNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzf/wAARCAAQABADASIAAhEBAxEB/8QAFwAAAwEAAAAAAAAAAAAAAAAAAAQFBv/EACYQAAEEAQIFBQEAAAAAAAAAAAECAwQFERIhAAYTFBUiMkFRYZH/xAAUAQEAAAAAAAAAAAAAAAAAAAAD/8QAGxEAAgIDAQAAAAAAAAAAAAAAAQIAAxEhIjH/2gAMAwEAAhEDEQA/ANLOsWVSGl2bbsqW9GY6bi+2KPUNWDqaPTAKlb752z+F+iZV1j1zSOw4j9QJalntt5QQ4nCFhBQnBSMbhXuyNKgCHLXxFPJ8fe2NLGJhthD8mOpK3kjKMA9UbgITuPv44i399y41yTdwY1/VyZDsN9LYafTqcKiVAAEav6o8CobO4NYsDdeT/9k='); }