.nav-glyphish .ui-btn .ui-btn-inner {
	padding-top: 40px !important; 
}

.nav-glyphish .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}

#favorites .ui-icon-custom {
	background: url(../imagens/icones/28-star-branca.png) 50% 50% no-repeat;
}	

#dashboard .ui-icon-custom {
	background: url(../imagens/icones/17-bar-chart.png) 50% 50% no-repeat;
}	

#pessoas .ui-icon-custom {
	background: url(../imagens/icones/112-group.png) 50% 50% no-repeat;
}
	
#mesa .ui-icon-custom {
	background: url(../imagens/icones/06-magnify.png) 50% 50% no-repeat;
}

#aprovacao .ui-icon-custom {
	background: url(../imagens/icones/new_117-todo.png) 50% 50% no-repeat;
}

#oportunidade .ui-icon-custom {
	background: url(../imagens/icones/new_172-pricetag.png) 50% 50% no-repeat;
}

#relatorioContato .ui-icon-custom {
	background: url(../imagens/icones/new_179-notepad.png) 50% 50% no-repeat;
}

#textofuncaoextra .ui-btn-text { 
	height: 30px;
	background: 50% 50% no-repeat;
}

.ui-footer p {
	float: left;
	margin-left: 15px;
	font-weight: normal;
	font-size: .9em;
}

.ui-li-static {
	font-size: 14px;
	font-weight: normal;
	padding: .3em 5px .3em 10px;
}

.ui-li-static .ui-li{
	padding: .3em 5px .3em 10px;
}

.bordaBtnLista{
	border-style:solid;
	border-width: 0;
	border-color:#CCCCCC;
	border-left-width:1px;
}