@media all and (min-width: 900px){	
	.content-secondary {
		margin-top:0px;
		margin-left:0px;
		padding: 0px 0% 0 0;
		width:37%;
		height:450px;
	}
	.content-primary {
		float: right;
		padding: 0px 0% 0 0;
		width: 61%;
		margin-top:0px;
		
	}	
	
	#dashboardcompleta{
		background: url(../imagens/iconesPlusoft/px-ccc.gif) 39% 0 repeat-y;
	}

}

@media all and (min-width: 1200px){
	
}