body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #b2b2b2;
	background-image: url(images/bg.gif);
}
.corsim {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color:#E0E2E0;
	text-align:left;
}

.cornao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color:#F7F7F7;
	text-align:left;
}


.titulo {	
			font-family: Verdana, Arial, Helvetica, sans-serif; 
			font-size: 12px; 
			font-weight: bold; 
			color: #FFFFFF;
			text-align:left;
			background-color: #666666;
		}
			
			
.rodape {
			color: #FFFFFF;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			background-color: #666666;
}

.campo {
			font-weight:bold

}

.separador {
			background-image: url(images/separador.gif);
			font-family: Verdana, Arial, Helvetica, sans-serif; 
			font-size: 12px; 
			font-weight: bold; 
			color: #FFFFFF;
			text-align:left;
}

.fundomenu {
	background-color:#666666;
}

.MeuDiv {
position:absolute;
left:50%;
top:50%;
margin-left:-125px;
margin-top:-75px;
}

.botao {
	color: #000;
	border:#999999 1px solid;
	background:#CCCCCC;
}