<menupopup id="${arg.id}">
	<menuitem label="${c:l('shiftLeft')}" forward="//p1/w1.onTab(shiftLeft)"/>
	<menuitem label="${c:l('shiftRight')}" forward="//p1/w1.onTab(shiftRight)"/>	
	<menuitem label="${c:l('delete')}" forward="//p1/w1.onDeleteSheet"/>
	<menuitem label="${c:l('rename')}" forward="//p1/w1.onTab(rename)"/>
	<menuitem label="${c:l('edit.copy')}" forward="//p1/w1.onInsSheetCopy"/>
</menupopup>