.framePadrao {
	background-color: #F4F4F4;	
	font-family: Arial, Helvetica, sans-serif;
}

.framePadrao .borda{
	border: 1px solid #7088c5;	
	padding-right: 5px;	
	padding-left: 10px;	
}

.borda .borda, .borda .abaMaior , .borda .abaMenor{	
	font-family: Arial, Helvetica, sans-serif;	
}

.borda .borda{
	margin-right: 5px;	
}


.framePadrao .titulo , .framePadrao .abaMaior,  .framePadrao .abaMenor{
	font-size: 11px; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-align: center
}

.framePadrao .titulo{
	background-image: url(../images/pastasQuadro/pstQuadroGiant.gif); 
	height: 17px; 
	width: 280px; 
	margin-bottom: 7px;
}

.framePadrao .abaMaior,  .framePadrao .abaMenor{	
	text-align: center; 	
	cursor: pointer;
	margin-top: 5px;
	height: 18px; 
}

.framePadrao .abaMaior {
	background-image: url(../images/pastasQuadro/pstSelecionadoMaior.gif); 	
	width: 150px; 	
}

.framePadrao .abaMenor {
	background-image: url(../images/pastasQuadro/pstSelecionado.gif);
	width: 100px; 
}

.label {	
	font-size: 11px;
	color: #000000;
	margin-left: 5px;
	margin-top: 2px;	
	line-height: 16px;
	text-align: right;
	
}

.grupoLabels {	
	float: left;
}

.framePadrao .headers {	
	clear: left; 
	float: left;
	background-color: #7EA5B8; 
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	width: 100%;
	margin-right: 10px;
}

.framePadrao .registros {	
	clear: left; 
	float: left;
	font-size: 11px;
	color: #000000;
	width: 100%;	
	overflow-y: scroll;
	
}

.registros .registro{
	clear: left;
	float: left;
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
}

.registros .coluna, .headers .header{
	float: left;
	margin-left: 5px;		
}



.seta{
	list-style-image: url(../images/icones/setaAzul.gif);	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none ; 
	font-weight: bold;	
}


.seta INPUT{	
	border: 1px #E0E0E0 solid;		
	margin-left: 3px;
	font-weight: bold;	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

.seta  .calendar{
	background-image: url(../images/botoes/calendar.gif);	
	width: 16px;
	height: 15px;
	float: left
}

.seta .text{
	width: 100px;	
	margin-left: 3px;	
}

.seta .campoLeitura { 
	color: #000000;
	line-height: 18px;	
	margin-left: 3px;
}

