.principalQuadroPst { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px; background-color: #f4f4f4}
.superiorFntVlrFixo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.superiorFntVlrVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none ; font-style: italic}
.superiorBgrPage {  background-color: #FFFCF4}
.principalObjAzulForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #0033FF; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.superiorPstSelecionada {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastas/pstSelecionada.gif); text-align: center; height: 20px; width: 120px; cursor: pointer}
.superiorPstNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; background-image: url(../images/pastas/pstNormal.gif); text-align: center; height: 20px; width: 120px ; cursor: pointer}
.superiorPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 20px; cursor: pointer }
.esquerdoBgrPage { background-color: #FFFCF4}
.esquerdoFntTituloPastas {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalQuadroPstVazia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #666699; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: #f4f4f4}
.principalPstQuadro {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadro.gif); height: 17px; width: 166px; text-align: center}
.principalPstQuadroGiant { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadroGiant.gif); height: 17px; width: 280px; text-align: center ; }
.principalPstQuadroMaior {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadro.gif); height: 17px; width: 280px; text-align: center}
.principalPstQuadroLinkSelecionado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionado.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalPstQuadroLinkNormal { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormal.gif); text-align: center; height: 18px; width: 100px ; cursor: pointer}
.principalLabel {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjForm { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.pOF { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.principalBgrQuadro { border: #7088c5 solid; background-color: #f4f4f4; border-width: 0px 0px 0px 1px;}
.principalBgrPage { background-color: #FFFCF4}
.inferiorBgrPage { background-color: #FFFCF4}
.inferiorMarquee {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.principalPstQuadroLinkNormalMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkSelecionadoMENOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoMenor.gif); text-align: center; height: 18px; width: 70px; cursor: pointer}
.principalPstQuadroLinkVazio { height: 18px; border: #7EA5B8 solid; text-decoration: none; border-width: 0px 0px 1px}
.principalBgrPageIFRM { background-color: #f4f4f4}
.esquerdoBdrQuadro {  background-color: #f4f4f4; border: #9BB9C8; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralCursoHand {  cursor: pointer; text-decoration: none}
.esquerdoBgrPageIFRM { background-color: #f4f4f4}
.esquerdoLstPar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.esquerdoLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; border-color: black black #cccccc; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px }
.principalObjFormCombo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 none; }
.principalLabelOptChk { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none }
.principalBdrInlcuiTelefone {  border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7}
.principalLstCab {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; background-color: #7EA5B8; font-weight: bold}
.principalLstPar {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstDest {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalLstImpar { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.principalObjForm3D { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%}
.principalBdr4Lados { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #F7F7F7 }
.principalLabelValorFixo { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold}
.principalLabelValorVariavel { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none }
.principalLabelGrafico { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border: #739BB0; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.principalLabelPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0}
.principalLstPergunta { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; font-weight: bold; color: #719CB0 ; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; cursor: pointer}
.principalFntResultadoInformacao { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; color: #7EA5B8; font-weight: normal; font-style: italic}
.principalTituloBlocoVerde { font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none ; font-weight: bold; color: #719CB0 }
.principalLabelHoraAgenda {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none; font-weight: bold; text-align: center; border-color: #CCCCCC black black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLabelMinutoAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none}
.principalObjFormAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4}
.principalLstParAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalLstImparAgenda { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border-color: #CCCCCC black; border-style: solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjFormAgenda02 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #EEEEEE}
.principalBordaQuadro { border: 1px #7088c5 solid; background-color: #f4f4f4}
.esquerdorlabelOperacoes { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: double; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBdr4LadosNeutro { border: #999999; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.geralTxtDecoration { text-decoration: none ; cursor: pointer}
.principalObjFormCmbCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; }
.geralImgDisable { text-decoration: none; opacity:0.4; filter: Alpha(Opacity=20) -moz-opacity:.20 }
.principalObjFormStatus { font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none ; width: 99%; color: #993333; background-color: #f4f4f4; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; text-align: center; font-style: italic}
.geralImgDisabledLoading { text-decoration: none; /*filter: Alpha(Opacity=0)*/ -moz-opacity:.0}
.principalBgrPageIFRMDestacar { background-color: #F4F4F4; border: 1px #CFCFCF solid}
.esquerdoBdrQuadroTop { background-color: #f4f4f4; border: 1px #9BB9C8 solid}
.esquerdorlabeltelefonia { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; cursor: pointer; border-color: black black #FFFFFF; border-style: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 4px; border-left-width: 0px}
.principalBordaDown { border: #7088c5 solid; background-color: #f4f4f4 ; border-width: 0px 0px 1px}
.principalObjFormGrd { font-family: Arial, Helvetica, sans-serif; font-size: 58px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormMedio { font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid }
.principalObjFormPerfCampanha { font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none ; width: 100%; border: 0px #E0E0E0 solid; height: 13px; vertical-align: top; background-color: #f4f4f4 ; text-align: right}
.labelProgressPreto {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
.labelProgressAmarelo { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFF00; text-decoration: none }.nomeMenu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; background-color: #7EA5B8; cursor: pointer}
.nomeMenuSelect { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #336699 #B5CDE6 #B5CDE6 #336699; background-color: #7EA5B8 ; border-style: solid; border-top-width: 2px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 2px; cursor: pointer}
.nomeMenuNoBrdr { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; border-color: #B5CDE6 #336699 #336699 #B5CDE6; background-color: #7EA5B8 ; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjFormLogin { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #999999 solid}
.principalPstQuadroLinkSelecionadoMAIOR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background: url(../images/pastasQuadro/pstSelecionadoMaior.gif) no-repeat; text-align: center; height: 18px; width: 150px; cursor: pointer ; }
.principalPstQuadroLinkNormalMaior { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background: url(../images/pastasQuadro/pstNormalMaior.gif) no-repeat; text-align: center; height: 18px; width: 150px; cursor: pointer ; }

.principalPstQuadroLinkSelecionadoGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none;background: url(../images/pastasQuadro/pstSelecionadoGrande.gif) no-repeat right top; text-align: center; height: 18px; width: 180px ; cursor: pointer}
.principalPstQuadroLinkNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background: url(../images/pastasQuadro/pstNormalGrande.gif) no-repeat right top; text-align: center; height: 18px; width: 180px ; cursor: pointer}
.principalPstQuadroNormalGrande { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 180px}
.principalLstParMao {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-color: black black #CCCCCC; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px;cursor: pointer}
.text { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid}
.text2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; border: 1px #E0E0E0 solid}
.principalLstParLink {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; cursor: pointer; color: #000000;}
.principalPstQuadroLinkNormalResultAnalise { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormalGrande.gif); text-align: center; height: 18px; width: 180px ; cursor: pointer}
.principalPstQuadroLinkSelecionadoResultAnalise  { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionadoGrande.gif); text-align: center; height: 18px; width: 180px ; cursor: pointer}
.principalLabelFundo {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; font-weight: bold; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000; background-color: #f4f4f4}
.principalProdManif {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; text-align: center; height: 17px; border: #7088c5; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; background-color: #f4f4f4}
.linhaVert {  background-image: url(../images/linhas/VertSombra.gif); background-repeat: repeat-y; width: 4px; clip:  rect(   )}
.desabilitado {  filter:alpha(opacity=50);-moz-opacity:.50}
.espacoPqn {  font-family: Arial, Helvetica, sans-serif; font-size: 5px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.principalObjFormCentralizado { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none ; width: 99%; border: 1px #E0E0E0 solid; text-align: center}
.principalLabelFundoFonteNormal {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #000000; background-color: #f4f4f4; text-align: right}
.principalPstQuadroLinkNormalGrd { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #7EA5B8; text-decoration: none; background-image: url(../images/pastasQuadro/pstNormal_grnd.gif); text-align: center; height: 18px; width: 150px; cursor: pointer; clip:  rect(   )}
.principalPstQuadroLinkSelecionadoGrd { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstSelecionado_grnd.gif); text-align: center; height: 18px; width: 150px; cursor: pointer; clip:  rect(   )}.principalPstQuadroLinkVazioNoBrd { height: 17px; border: 0px #7EA5B8 solid; text-decoration: none; clip: rect( ); font-size: 11px }
.principalPstQuadroGrd { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF; text-decoration: none; background-image: url(../images/pastasQuadro/pstQuadroGrd.gif); height: 17px; width: 200px; text-align: center ; clip:  rect(   )}

.pOF label.cabinet { width: 18px; height: 18px; background: url(../../../plusoft-resources/images/botoes/textfolder-18.gif) 0 0 no-repeat; display: ; overflow: hidden; cursor: pointer; vertical-align: middle;   }
.pOF label.cabinet input.file { position: relative; height: 100%; width: auto; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: pointer; }
