.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #B28255;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #000000
}
.menuvertBackColor{
	background-color: #DBB996;
	border: #A56D45 solid;
	border-width: 0px 1px 1px
}
.objetoBotaoMouseDown{
	background-color: #C98B6D;
	border: 1px solid;
	border-color: #663333 #FFFFFF #FFFFFF #663333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #C98B6D;
	border: 2px solid;
	border-color: #FFFFFF #663333 #663333 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #C98B6D;
	border: 1px solid;
	border-color: #FFFFFF #663333 #663333 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #000000;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #D8AA95;
	border: 1px solid;
	border-color: #E2C6C6 #800000 #800000 #E2C6C6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #808080;
	cursor: default
}
.objetoItemBorda{
	background-color: #A85151;
	border: 1px #AD7C4B solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.objetoItemMouseOver{
	background-color: #CA9867;
	border: 0px #55859B solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #FFFF00
}
.objetoItemNormal{
	background-color: #DBB996;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #DBB996;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #EEE3D9
}
.objetoMenu{
	background-color: #F4F4F4;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE
}
.objetoOpcaoVisualizar{
	background-color: #C98B6D;
	border: 1px solid;
	border-color: #E2C4C4 #000000 #000000 #E2C4C4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333
}
body{
	scrollbar-3dlight-color:#B17357;
	scrollbar-arrow-color:#800000;
	scrollbar-darkshadow-color:#B17357;
	scrollbar-face-color:#DBB996;
	scrollbar-highlight-color:#DBB996;
	scrollbar-shadow-color:#DBB996;
	scrollbar-track-color:#DBB996
}
