.menuvertBackColor {  background-color: #f4f4f4; border: #9BB9C8; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.objetoMenu { background-color: #f4f4f4; border: 2px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE}




.objetoBotaoMouseOver { background-color: #95B6C6; border: 1px solid; border-color: #FFFFFF #55859B #55859B #FFFFFF ; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; color:#497083; font-weight: bold; cursor: pointer}
.objetoBotaoNormal { background-color: #95B6C6; border: 2px solid; border-color: #FFFFFF #55859B #55859B #FFFFFF ; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: #333333; font-weight: bold; cursor: pointer}


.objetoItemNormal { background-color: #f4f4f4; border: 0px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE ; font-family: Arial, Helvetica, sans-serif; font-size: 10px; cursor: pointer}
.objetoItemMouseOver { background-color: #C8D9E1; border: 0px #55859B solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer; font-weight: bold; color: #000066}
.objetoItemBorda { background-color: #C8D9E1; border: 1px #55859B solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer }
.objetoBotaoMouseDown { background-color: #95B6C6; border: 1px solid; border-color: #55859B #FFFFFF #FFFFFF #55859B; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #000099; font-weight: bold; cursor: pointer }
.objetoBotaoNormalDisabled { background-color: #C8D9E1; border: 1px solid; border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 20px; color: #666666; cursor: default}
.objetoItemNormalDisabled { background-color: #f4f4f4; border: 0px solid; border-color: #DFE9EE #55859B #55859B #DFE9EE ; font-family: Arial, Helvetica, sans-serif; font-size: 10px; cursor: default; color: #999999}
.objetoOpcaoVisualizar { background-color: #95B6C6; border: 1px solid; border-color: #FFFFFF #55859B #55859B #FFFFFF ; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px; color: #497083}
.cursorHand {  cursor: pointer}
.defineCssMouseOver { background-color: #0099FF; border: 1px #000099 solid; font-family: Arial, Helvetica, sans-serif; font-size: 10px ; cursor: pointer ; color: #FFFFFF}
