.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #C0C0C0;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFFFF
}
.menuvertBackColor{
	background-color: #808080;
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	cursor: default
}
.objetoBotaoMouseDown{
	background-color: #C0C0C0;
	border: 1px solid;
	border-color: #000000 #C0C0C0 #C0C0C0 #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #000099;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #C0C0C0;
	border: 2px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #C0C0C0;
	border: 1px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #E2E2E2;
	border: 1px solid;
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #808080;
	cursor: default
}
.objetoItemBorda{
	background-color: #C0C0C0;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemMouseOver{
	background-color: #C0C0C0;
	border: 0px #808080 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #000066
}
.objetoItemNormal{
	background-color: #808080;
	border: 0px solid;
	border-color: #808080 #808080 #808080 #808080;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #808080;
	border: 0px solid;
	border-color: #C0C0C0 #000000 #000000 #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #FFFFFF
}
.objetoMenu{
	background-color: #808080;
	border: 2px solid;
	border-color: #000000 #C0C0C0 #C0C0C0 #000000
}
.objetoOpcaoVisualizar{
	background-color: #C0C0C0;
	border: 1px solid;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333
}
body{
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#000000;
	scrollbar-darkshadow-color:#000000;
	scrollbar-face-color:#C0C0C0;
	scrollbar-highlight-color:#C0C0C0;
	scrollbar-shadow-color:#808080;
	scrollbar-track-color:#C0C0C0
}
