.cursorHand{
	cursor: pointer
}
.defineCssMouseOver{
	background-color: #000080;
	border: 1px #000000 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #FFFF00
}
.menuvertBackColor{
	background-color: #4579B5;
	border: #000080 solid;
	border-width: 0px 1px 1px;
	cursor: default
}
.objetoBotaoMouseDown{
	background-color: #5F9AD4;
	border: 1px solid;
	border-color: #DBDBED #000080 #000080 #DBDBED;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoMouseOver{
	background-color: #5F9AD4;
	border: 2px solid;
	border-color: #DBDBED #000080 #000080 #DBDBED;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer
}
.objetoBotaoNormal{
	background-color: #5F9AD4;
	border: 1px solid;
	border-color: #DBDBED #000080 #000080 #DBDBED;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #FFFFFF;
	cursor: pointer
}
.objetoBotaoNormalDisabled{
	background-color: #95BCE3;
	border: 1px solid;
	border-color: #DBDBED #000080 #000080 #DBDBED;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #367DC6;
	cursor: default
}
.objetoItemBorda{
	background-color: #95BCE3;
	border: 1px #000080 solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	color: #0000FF
}
.objetoItemMouseOver{
	background-color: #95BCE3;
	border: 0px #55859B solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer;
	font-weight: bold;
	color: #000080
}
.objetoItemNormal{
	background-color: #4579B5;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: pointer
}
.objetoItemNormalDisabled{
	background-color: #4579B5;
	border: 0px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: default;
	color: #EFDEDE
}
.objetoMenu{
	background-color: #F4F4F4;
	border: 2px solid;
	border-color: #DFE9EE #55859B #55859B #DFE9EE
}
.objetoOpcaoVisualizar{
	background-color: #5F9AD4;
	border: 1px solid;
	border-color: #DFE9EE #000080 #000080 #DFE9EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333
}
body{
	scrollbar-3dlight-color:#B3B3D9;
	scrollbar-arrow-color:#000000;
	scrollbar-darkshadow-color:#000080;
	scrollbar-face-color:#4579B5;
	scrollbar-highlight-color:#4579B5;
	scrollbar-shadow-color:#000080;
	scrollbar-track-color:#4579B5
}
